{% extends 'app/layouts/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-12 col-lg-6">
            <h1 id="title">Artificial Intelligence Tools SPECIALIZING IN processing AND ANALYZING digital IMAGES  </h1>
            <p id="content" class="py-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto porro nostrum tempora unde totam eius culpa, dolorum voluptas doloremque quia soluta molestiae perferendis vero voluptate consequuntur ex harum repudiandae quam.
            Lorem ipsum dolor, fugit facilis. Quo, 
            </p>
        </div>
        <div class="col-md-12 col-lg-6">
            <div class="row">
                <div class="col-12">
                    <div class="card shadow" id="card-1">
                        <h1>Plant identification</h1>
                        <button class="btn btn-info mt-3">Click here to discover!</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card shadow" id="card-2">
                        <h1>TEXT EXTRACTION</h1>
                        <button class="btn btn-info mt-3">Click here to discover!</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}