{% extends 'app/layouts/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-12 col-lg-6">
            <h1 id="title">Mô hình trí tuệ nhân tạo xử lý, phân tích và phân loại hình ảnh </h1>
            <p id="content" class="py-2">Trang web phục vụ cho mục đích phân loại hình ảnh chó mèo bằng cách người dùng sẽ đưa hình ảnh chó mèo lên trang web và công việc của nó sẽ phân tích xem hình ảnh người dùng đăng lên là chó hay mèo.
            </p>
        </div>
        <div class="col-md-12 col-lg-6">
            <div class="row">
                <div class="col-12">
                    <div class="card shadow" id="card-1">
                        <h1>Phân loại chó mèo</h1>
                        <button class="btn btn-info mt-3">Vào thực hành!</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
