{% extends 'app/layouts/base.html' %}

{% block content %}
    <div class="row category">
        <h1>THỰC HÀNH</h1>
    </div>
    <form action="{% url 'app:services' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row card-detail-row" id="img">
            <div class="col-12 mt-3 mb-1">
                <h2>PHÂN LOẠI CHÓ MÈO</h2>
            </div>
            <div class="col-md-12 col-lg-6 upload-box">
                <div class="image">
                        <img src="{{url}}" alt="" class="active">

                    <div>
                        <i class="m-2 upload-icon fas fa-cloud-upload-alt"></i>
                        <br>Chọn hình ảnh đầu vào <br> để bắt đầu xử lý !
                    </div>
                    <input name="img" type="file">
                </div>
            </div>

            <div class="col-md-12 col-lg-6">
                <div class="image">
                    <div>Sau khi tải hình ảnh lên, <br>thì kết quả của hình ảnh là con <strong>{{result}}</strong>. </div>
                </div>
            </div>
        </div>

        <button data-id="{{service}}" type="submit" style="display: none;">SUBMIT {{service}}</button>
    </form>

{% endblock content %}
