<footer>
    <div id="footer-wrapper">
        <div class="row footer-row pb-2 mb-3 mr-0">
            <div class="col-lg-8 col-md-12">
                <p id="company-info-title" class="pt-3">Trang web phân loại chó mèo</p>
                <div class="row-contact-content mt-2 mr-2">
                    <div>
                        Trang web phục vụ cho mục đích phân loại hình ảnh chó mèo bằng cách người dùng sẽ đưa hình ảnh chó mèo lên trang web và công việc của nó sẽ phân tích xem hình ảnh người dùng đăng lên là chó hay mèo.<br>
                        Vào phần thực hành để trải nghiệm, vui lòng chọn đúng hình ảnh chó mèo.<br>
                        Có thể vào phần kho hình ảnh để xem tham khảo.<br>
                        Thông tin liên hệ được cung cấp ở góc phải trang web.
                    </div>

                    <div class="media-links media-links-footer mt-3">
                        <a href="#" class="">
                            <i class="fab fa-facebook"></i>
                        </a>

                        <a href="#" class="">
                            <i class="fab fa-instagram"></i>
                        </a>

                        <a href="#" class="">
                            <i class="fab fa-twitter"></i>
                        </a>

                        <a href="#" class="">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </div>

                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <p id="contact-info-title" class="pt-3 mb-1">Thông tin liên hệ</p>
                <div class="row row-contact-content mt-3">
                    <div class="col-1 p-0">
                        <i class="fas fa-map-marker-alt"></i>
                    </div>
                    <div class="col-11 pl-0">
                        <p>
                            19 Đường Nguyễn Hữu Thọ, Phường Tân Phong, Quận 7, Thành Phố Hồ Chí Minh
                        </p>
                    </div>
                </div>

                <div class="row row-contact-content">
                    <div class="col-1 p-0">
                        <i class="fas fa-user-alt"></i>
                    </div>
                    <div class="col-11 pl-0">
                        <p>
                            Nguyễn Anh Khoa<br>
                            Lê Nguyễn Minh Trí
                        </p>
                    </div>
                </div>

                <div class="row row-contact-content">
                    <div class="col-1 p-0">
                        <i class="far fa-envelope"></i>
                    </div>
                    <div class="col-11 pl-0">
                        <p>
                            51900754@student.tdtu.edu.vn
                            51900777@student.tdtu.edu.vn
                        </p>
                    </div>
                </div>

            </div>
        </div>
        <div id="copyright" class="pb-3">
            Trang web phân loại chó mèo &copy; 2023 - All Rights Reserved
        </div>
    </div>
</footer>
